
.logo {
    width: 50px;
    height: 50px;
}

.navbar_logo {
    background-color: #000000;
}
.navbar_logo a{
    float:right;
    margin-right:0.5vw;
}
.navname {
    color: white;
    font-size: 20px;
    position: relative;
    left: 10px;
    top: -17px;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.input_content {
    background-color: #f5f5f5;
    padding-left: 10px;
    border: 1px solid black;
}

.input_submit {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 20px;
    margin-left:10px;
    padding:5px 8px;
    font-size:16px;
    cursor:pointer;
}
.input_submit:hover{
    font-weight: bold;
    font-size:17px;
}

body {
    width: 99%;
}

.box {
    background-color: #f5f5f5;
    padding: 15px;
}

.btn1 {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


.th {
    width: 195px;
    vertical-align: top;
    text-align: right;
}

.th2 {

    width: 100px;
    vertical-align: top;
    text-align: right;
}

.td {
    width: 600px;
    overflow: hidden;
}

.blank {
    height: 50px;
}

.nowdata {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    width: 99%;
    display: flex;
    border-radius: 4px;


}

.table_div1 {

    width: 100%;
    border: 1px solid #e1e1e8;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.table_container {
    display: flex;

}

.span {
    color: red;
    font-weight: bold;
}

.text {
    width: 500px;

}

.raw_data {
    float: left;
    width: 49%;
    word-break: break-all;
    background-color: #e0dddd;
    border: 1px solid #e1e1e8;
}

.mapping_data {
    float: left;
    width: 49%;
    word-break: break-all;
    background-color: #e0dddd;
    border: 1px solid #e1e1e8;
}
.row1 {
    width: 110px;
}



